.permissions-crud-container {
  width: 100%;
  padding: 10px;
}
.permissions-title {
  margin-bottom: 10px;
  color: #001a71;
}

.permissions-crud-inputs-container {
  display: flex;
  align-items: center;
}
.permissions-crud-inputs-container label {
  margin-right: 10px;
  color: #001a71;
  font-weight: bold;
}
.permissions-crud-inputs-label-right label {
  margin-left: 10px;
}
.permissions-crud-container-buttons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.permissions-crud-container-buttons button {
  margin-right: 10px;
}
